<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <style>
        .nav-right{
            float: right;
            margin-top: -63px;
            margin-right: -220px;
            font-size: 20px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="header_con">
        <div class="header">
            <a href="#" class="logo fl"><img src="../static/images/logo1.jpg" alt="logo"></a>
            <div >
                <table id="nav">
                     <td align="center"><a href="/">首页</a></td>
                     <td align="center"><a href="">频道1</a></td>
                     <td align="center"><a href="">频道2</a></td>
{#                     <td align="center" class="nav-right"><a href="/backstage/">后台管理</a></td>#}
                </table>

            </div>
            <a href="/backstage/" class="nav-right">后台管理</a>
{#             <a onclick="window.open('/backstage/','_self')" class="nav-right">后台管理</a>#}
        </div>

    </div>
    <div class="conter_con">

         <div class="rank_con fr">
            <div class="rank_title">
                <div style="width: 80%;height: 100%;float: left;">
                    <h3>综合新闻 </h3>
                </div>
                <div style="width: 20%;height: 100%;float: left;">
                    <a href="/news_list/" style="padding: 15px">更多>>></a>
                </div>

            </div>
            <ul class="rank_list"  type="disc">
               <li type=""><span class=""></span><a href="/news_detail">黑烟滚滚！北京交通大学一实验室发生爆炸 隔壁教学楼震感强烈</a></li>
               <li type=""><span class=""></span><a href="/news_detail">内地与港澳人士热议港珠澳大桥：为大湾区发展带来新机遇</a></li>
               <li><span class=""></span><a href="/news_detail">文旅部：2019年元旦春节整治“不合理低价”等乱象</a></li>
               <li><span></span><a href="/news_detail">北京个人新能源车指标申请超42万 需轮候至2026年</a></li>
               <li><span></span><a href="/news_detail">内地与港澳人士热议港珠澳大桥：为大湾区发展带来新机遇</a></li>
               <li><span></span><a href="/news_detail">文旅部：2019年元旦春节整治“不合理低价”等乱象</a></li>
            </ul>
         </div>
         <!--<div class="pul">&nbsp;</div>-->
         <div class="rank_con fr1">
            <div class="rank_title">
                <div style="float: left">
                     <h3>科研动态</h3>
                </div>
                <div style="float: left">
                     <a href="/news_list/" style="padding: 15px">更多>>></a>
                </div>
            </div>
            <ul class="rank_list">
               <li><span class=""></span><a href="/news_detail">黑烟滚滚！北京交通大学一实验室发生爆炸 隔壁教学楼震感强烈</a></li>
               <li><span class=""></span><a href="/news_detail">内地与港澳人士热议港珠澳大桥：为大湾区发展带来新机遇</a></li>
               <li><span class=""></span><a href="/news_detail">文旅部：2019年元旦春节整治“不合理低价”等乱象</a></li>
               <li><span></span><a href="/news_detail">北京个人新能源车指标申请超42万 需轮候至2026年</a></li>
               <li><span></span><a href="/news_detail">内地与港澳人士热议港珠澳大桥：为大湾区发展带来新机遇</a></li>
               <li><span></span><a href="/news_detail">文旅部：2019年元旦春节整治“不合理低价”等乱象</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footer_links">
            <a href="">关于我们</a>
            <span>|</span>
            <a href="">联系我们</a>
            <span>|</span>
            <a href="">招聘人才</a>
            <span>|</span>
            <a href="">友情链接</a>
        </div>
        <p class="copyright">
            CopyRight © 2018 信息技术有限公司 All Rights Reserved<br />
电话：010-****888    京ICP备*******8号
        </p>
    </div>

</body>
</html>
