<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="header_con">
        <div class="header">
            <a href="#" class="logo fl"><img src="/static/images/logo1.jpg" alt="logo"></a>
            <div >
                <table id="nav">
                     <td align="center"><a href="/">首页</a></td>
                     <td align="center"><a href="">频道1</a></td>
                     <td align="center"><a href="">频道2</a></td>
                </table>

            </div>
        </div>

    </div>
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list">
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
             <li><a href="/news_detail">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
        </ul>
        <div id="pagination" class="page"></div>
        <script>
            // 调用父页面的方法改变菜单指示
            // window.parent.fnChangeMenu(2);

            $(function(){
                $("#pagination").pagination({
                    currentPage: 2,
                    totalPage: 3,
                    callback: function(current) {
                        alert('ok!');
                    }
                });
            });
        </script>
       
    </div>
</body>
</html>